.certifications{
    background:$background-blue;
    padding: 1rem 0;
    &__list{
        display: flex;
        justify-content: space-around;
        margin: 1.5rem;
        &--item{
            a:hover{
                text-decoration: none;
            }
            img{
                width: 1rem;
            }
        }
    }
    @include media(mobile-only){
        display: flex;
        flex-wrap: wrap;
        &__title{
            width: 100%;
        }
        ul{
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }
        ul > li > ul{
            margin: 0.5rem 0;
        }
    }
}