//Fonts
$font-principal: 'Raleway', sans-serif;

//Backgrounds
$background-blue:#EAF2FD;
$background-white:#F5F5F5;

//Colors
$color-principal:#464646;
$color-blue: #2A7AE4;
$color-principal-hover:#464646ad;