header{
    width: 100%;
    display: flex;
    background: $background-white;
    align-items: center;
    justify-content: space-between;
}

a{
    color: $color-principal;
}

a:hover{
    text-decoration: underline;
    color:$color-principal-hover;
}
i{
    display: flex;
    align-items: center;
    span{
        font-family: $font-principal;
    }
}
.navbar{
    &__list{
        display: flex;
        &--item{
            margin: 10px;
        }
    }

}