html,body{
    scroll-padding-top: 75px;
    max-width: 100% !important;
    overflow-x: hidden !important;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-white;
    height: 75px;
}

a{
    color: $color-principal;
}

a:hover{
    text-decoration: underline;
    color:$color-principal-hover;
}

i{
    display: flex;
    align-items: center;
    span{
        font-family: $font-principal;
    }
}
.navbar{
    height: 75px;
    &__list{
        display: flex;
        &--item{
            margin: 10px;
        }
    }   
    @include media(tablet-p-only){
        display: none;
    } 
    @include media(mobile-only){
        display: none;
    }
}

.nav-link.active{
    color: $color-principal-hover;
    text-decoration: underline;
}