.presentation{
    margin-top: 75px;
    padding: 1rem;
    background-color: $background-white;
    display: grid;
    width: 100%;
    grid-template-columns: 60% 30%;
    grid-template-rows: repeat(3,auto);
    @include media(mobile-only){
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__image{
        width: 100%;
        height: 100%;
        background-color: black;
        grid-column: 2;
        grid-row: 1/4;
    }
    &__description{
        font-size: 1rem;
        font-weight: 100;
        text-align: center;
        margin: 1rem 0;
    }
    &__links{
        display: flex;
        justify-content: center;
        &--item{
            margin: 0 1rem;
            a{
                vertical-align: middle;
            }
            img{
                width: 2rem;
            }
        }
    }
}