* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0;
}

html {
  scroll-padding-top: 75px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F5F5;
  height: 75px;
}

a {
  color: #464646;
}

a:hover {
  text-decoration: underline;
  color: rgba(70, 70, 70, 0.6784313725);
}

i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
i span {
  font-family: "Raleway", sans-serif;
}

.navbar {
  height: 75px;
}
.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar__list--item {
  margin: 10px;
}

.nav-link.active {
  color: rgba(70, 70, 70, 0.6784313725);
  text-decoration: underline;
}

.presentation {
  margin-top: 75px;
  padding: 1rem;
  color: #464646;
  background-color: #F5F5F5;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 60% 30%;
  grid-template-columns: 60% 30%;
  -ms-grid-rows: (auto)[3];
  grid-template-rows: repeat(3, auto);
}

.presentation > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.presentation > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.presentation > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.presentation > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.presentation > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.presentation > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.presentation__image {
  width: 100%;
  height: 100%;
  background-color: black;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}
.presentation__description {
  font-size: 1rem;
  font-weight: 100;
  text-align: center;
  margin: 1rem 0;
}
.presentation__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.presentation__links--item {
  margin: 0 1rem;
}
.presentation__links--item a {
  vertical-align: super;
}
.presentation__links--item img {
  width: 2rem;
}

.about {
  background: #EAF2FD;
  text-align: center;
  padding: 1rem;
  height: auto;
  color: #464646;
}

.skills {
  background: #F5F5F5;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -ms-grid-columns: (33.33%)[3];
  grid-template-columns: repeat(3, 33.33%);
  color: #464646;
  justify-items: center;
  padding: 1rem;
}

.skills > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.skills > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.skills > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.skills__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}
.skills ul {
  margin: 1rem;
}
.skills ul h2 {
  font-size: 1.5rem;
}
.skills ul h3 {
  font-weight: 100;
  color: #464646;
}
.skills img {
  width: 2rem;
}

.hobbies {
  background: #F5F5F5;
  width: 100%;
  color: #464646;
}
.hobbies__list {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.hobbies__list img {
  width: 2rem;
  padding: 0 auto;
}
.hobbies__list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}